h1 {
    background-color: #9885d2;
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
    border-bottom-style: groove;
    margin-left: 40px;
    margin-right: 40px;   
    padding-bottom: 10px;  
    padding-top: 10px; 
    border-bottom-width: 3px;
    border-bottom-color: blue;  
    color: #5033a7;
}
h2 {
    margin-left: 40px;
    margin-right: 40px; 
    padding-bottom: 10px;  
    padding-top: 10px;  
    background-color: #b2a7d3;
    
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #5033a7;

    border-bottom-style: groove;
    border-bottom-width: 3px;
    border-bottom-color: blue;
    
    
}
h3 {
    margin-left: 45px;
    font-size: 25px;
}
h4 {
    margin-left: 45px;
    font-size: 22px;
}
p {
    margin-left: 45px;
    font-family: sans-serif;
    font-size:18px;
}

ul {
    margin-left: 45px;
    font-family: sans-serif;    
    font-size: 22px;
    
}
.etnia {
    text-align: center;
    font-size:18px;
    font-family: sans-serif;
}